// font definitions

$main-font: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$nav-font: "Arial Black", Gadget, sans-serif;
$title-font: Verdana, Geneva, sans-serif;
$code-font: "Courier New", Courier, monospace;

$base-color: #E6E6B8;
$dark-color: #171712;

$main-width: 34em;
$sidebar-width: 10em;

//stuff from html5boilerplate

::-moz-selection {
  background: #3366FF;
  text-shadow: none;
}

::selection {
  background: #3366FF;
  text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


// defaults, if not otherwise overridden:

html {
  color: black;
  font-size: 1em;
  line-height: 1.4;
  
  backgroud-color: $base-color;
  
  font-family: $main-font;
  
}

h1, h2 h3, h4, h5 {
  font-family: $title-font;
  margin: 2em 2em 2em 2em;
}

.subtitle {
  font: {
    weight: normal;
    size: 1.8em;
  }
}

.competency {
  font-size: 1.1em;
  margin-top: .5em;
  margin-bottom: .5em;
  margin-left: 1em;
  
  padding-top: .5em;
  padding-bottom: .5em;
  
  border-top: 2px solid #333333;
  border-bottom: 2px solid #333333;
}

.top-header {
  background-color: $dark-color;
  color: white;
  width: 100%
  font-family: $nav-font;
}

.site-title {
  font-size: 1.5em;
  width: 50%;
  display: block;
  padding: .5em .5em .5em .5em;
}

.site-nav {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 50%;
    min-width: 30em;
  }
  a {
    display: block;
    &:hover {
      border: 1px solid white;
      font-weight: bold;
    }
  }
  li {
    display: inline;
  }
}

.side-nav {
  background-color: $dark-color;
  color: white;
  margin: 1.5em 1.5em 1.5em 1.5em;
  padding: .5em .5em .5em .5em;
  width: $sidebar-width;
  float: left;
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  a {
    display: block;
    &:hover {
      border: 1px solid white;
      font-weight: bold;
    }
  }
  hr {
    color: white;
    margin-left: 1em;
    margin-right: 1em;
  }
}

article {
  float: left;
  margin-left: ($sidebar-width + 3);
  width: $main-width;
}



