---

...

// font definitions

$main-font: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$nav-font: "Arial Black", Gadget, sans-serif;
$title-font: Verdana, Geneva, sans-serif;
$code-font: "Courier New", Courier, monospace;

$base-color: #E6E6B8;
$dark-color: #171712;

$main-width: 38em;
$sidebar-width: 10em;

//stuff from html5boilerplate

::-moz-selection {
  background: #3366FF;
  text-shadow: none;
}

::selection {
  background: #3366FF;
  text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid black;
    margin: 1em 0;
    padding: 0;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


// defaults, if not otherwise overridden:

html, body {
  margin: 0;
  padding: 0;
  color: black;
  font-size: 1em;
  line-height: 1.4;
  
  background-color: $base-color;
  
  font-family: $main-font;
  
}

h1, h2, h3, h4, h5 {
  font-family: $title-font;
}

h1 {
  text-align: center;
}

.subtitle {
  font: {
    weight: normal;
    size: 1.5em;
  }
}

.competency {
  font-size: 1.1em;
  margin-top: .5em;
  margin-bottom: .5em;
  margin-left: 1em;
  
  padding-top: .5em;
  padding-bottom: .5em;
  
  border-top: 2px solid #333333;
  border-bottom: 2px solid #333333;
}

.top-header {
  background-color: $dark-color;
  color: white;
  width: 100%;
  font-family: $nav-font;
  
  a:link, a:visited, a:hover, a:active {
    color: white;
    text-decoration: none;
  }
}

.site-title {
  font-size: 1.5em;
  width: 50%;
  display: block;
  padding: .5em .5em .5em .5em;
}

.site-nav {
  ul {
    list-style-type: none;
    margin: 0;
    padding: .5em .5em .5em .5em;
  }
  a {
    display: block;
    padding-left: .5em;
    padding-right: .5em;
    &:hover {
      border: 1px solid white;
    }
  }
  li {
    display: inline-block;
  }
}

.wrap {
  white-space: nowrap;
  width: 100%;
}

.side-nav {
  background-color: $dark-color;
  color: white;
  margin: 1.5em 1.5em 1.5em 1.5em;
  padding: .5em .5em 2em .5em;
  border-radius: 1em;
  width: $sidebar-width;
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  a {
    display: block;
    padding-left: .5em;
    &:hover {
      border: 1px solid white;
    }
  }
  a:link, a:visited, a:hover, a:active {
    color: white;
    text-decoration: none;
  }
  hr {
    border-top: 2px solid white;
    margin-left: 1em;
    margin-right: 1em;
  }
}

article {
  white-space: normal;
  display: inline-block;
  vertical-align: top;
  margin-left: 3em;
  max-width: $main-width;
}

.authors {
  text-align: center;
  ul {
    list-style-type: none;
  }
}

.abstract {
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1.5em;
  h2 {
    text-align: center;
  }
}

.references {
  p {
    padding-left: 2em;
    text-indent: -2em;
  }
}

aside {
  background-color: #99FFCC;
  border: 1px dotted black;
  border-radius: 1em;
  margin: 1em 1em 1em 1em;
  padding: .5em .5em .5em .5em;
}

code {
  font-family: $code-font;
}

dt {
  width: 10em;
  float: left;
  clear: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

dd {
  margin-left: 11em;
}

footer {
  padding: 1em 1em 1em 1em;
  clear: both;
}



