
<nav class="side-nav">
  <h2>Portfolio</h2>
  <ul>
    <li><a href="{{ site.url }}/introduction/">Introduction</a></li>
    <hr>
    <li><a href="{{ site.url }}/competency-a/">Competency A</a></li>
    <li><a href="{{ site.url }}/competency-b/">Competency B</a></li>
    <li><a href="{{ site.url }}/competency-c/">Competency C</a></li>
    <li><a href="{{ site.url }}/competency-d/">Competency D</a></li>
    <li><a href="{{ site.url }}/competency-e/">Competency E</a></li>
    <li><a href="{{ site.url }}/competency-f/">Competency F</a></li>
    <li><a href="{{ site.url }}/competency-g/">Competency G</a></li>
    <li><a href="{{ site.url }}/competency-h/">Competency H</a></li>
    <li><a href="{{ site.url }}/competency-i/">Competency I</a></li>
    <li><a href="{{ site.url }}/competency-j/">Competency J</a></li>
    <li><a href="{{ site.url }}/competency-k/">Competency K</a></li>
    <li><a href="{{ site.url }}/competency-l/">Competency L</a></li>
    <li><a href="{{ site.url }}/competency-m/">Competency M</a></li>
    <li><a href="{{ site.url }}/competency-n/">Competency N</a></li>
    <hr>
    <li><a href="{{ site.url }}/philosophy/">Philosophy Statement</a></li>
    <hr>
    <li><a href="{{ site.url }}/conclusion1-reflection/">Conclusion: Reflection</a></li>
    <li><a href="{{ site.url }}/conclusion2-strengths/">Conclusion: Professional Strengths</a></li>
    <li><a href="{{ site.url }}/affirmation/">Affirmation</a></li>
    <hr>
    <li><a href="{{ site.url }}/evidence/">Supporting Evidence</a></li>
  </ul>
</nav>
