
<nav class="side-nav">
  <h2>Portfolio</h2>
  <ul>
    <li><a href="{{ site.baseurl }}/introduction/">Introduction</a></li>
    <hr>
    <li><a href="{{ site.baseurl }}/competency-a/">Competency A</a></li>
    <li><a href="{{ site.baseurl }}/competency-b/">Competency B</a></li>
    <li><a href="{{ site.baseurl }}/competency-c/">Competency C</a></li>
    <li><a href="{{ site.baseurl }}/competency-d/">Competency D</a></li>
    <li><a href="{{ site.baseurl }}/competency-e/">Competency E</a></li>
    <li><a href="{{ site.baseurl }}/competency-f/">Competency F</a></li>
    <li><a href="{{ site.baseurl }}/competency-g/">Competency G</a></li>
    <li><a href="{{ site.baseurl }}/competency-h/">Competency H</a></li>
    <li><a href="{{ site.baseurl }}/competency-i/">Competency I</a></li>
    <li><a href="{{ site.baseurl }}/competency-j/">Competency J</a></li>
    <li><a href="{{ site.baseurl }}/competency-k/">Competency K</a></li>
    <li><a href="{{ site.baseurl }}/competency-l/">Competency L</a></li>
    <li><a href="{{ site.baseurl }}/competency-m/">Competency M</a></li>
    <li><a href="{{ site.baseurl }}/competency-n/">Competency N</a></li>
    <hr>
    <li><a href="{{ site.baseurl }}/philosophy/">Philosophy Statement</a></li>
    <hr>
    <li><a href="{{ site.baseurl }}/conclusion1-reflection/">Conclusion: Reflection</a></li>
    <li><a href="{{ site.baseurl }}/conclusion2-strengths/">Conclusion: Professional Strengths</a></li>
    <li><a href="{{ site.baseurl }}/affirmation/">Affirmation</a></li>
    <hr>
    <li><a href="{{ site.baseurl }}/evidence/">Supporting Evidence</a></li>
  </ul>
</nav>
