---
layout: default
---

{% include sidenav.html %}

<header class="page-header">
  {% if page.title %}<h1 class="title">{{ page.title }}</h1>{% endif %}
  {% if page.subtitle %}<h1 class="subtitle">{{ page.subtitle }}</h1>{% endif %}
  {% if page.authors %}
    <div class="authors">
      <p>by</p>
      <ul>
        {% for author in page.authors %}
          <li>{{ author }}</li>
        {% endfor %}
      </ul>
    </div>
  {% elsif page.author %}
    <div class="authors">
      <p>by</p>
      <p>{{ page.author }}</p>
    </div>
  {% endif %}
  {% if page.class %}<p>Created for {{ page.class }}</p>{% endif %}
  {% if page.date %}<p>{{ page.date }}</p>{% endif %}
  <hr>
</header>

<article class="evidence">

  {% if page.abstract %}
  <div class="abstract">
  <h2>Abstract</h2>
  <p>{{ page.abstract }}</p
  <hr>
  {% endif %}

  {{ content }}

</article>

</div>
