---
layout: default
---

{% include sidenav.html %}

<article class="evidence">

<header>
  {% if page.title %}<h1 class="title">{{ page.title }}</h1>{% endif %}
  {% if page.subtitle %}<h1 class="subtitle">{{ page.subtitle }}</h1>{% endif %}
  {% if page.authors %}
    <div class="authors">
      <ul>
        {% for author in page.authors %}
          <li>{{ author }}</li>
        {% endfor %}
      </ul>
    </div>
  {% elsif page.author %}
    <div class="authors">
      <p>{{ page.author }}</p>
    </div>
  {% endif %}
  <hr>
</header>

  {% if page.abstract %}
  <div class="abstract">
  <h2>Abstract</h2>
  <p>{{ page.abstract }}</p>
  </div>
  <hr>
  {% endif %}

  {{ content }}

</article>

</div>
